<div class="box fn-clear">
	<div class="search">
		<h4 class="title">Search<h4>
		<input type="text" id="bg_search" placeholder="Search"/>
		<button id="btn_go" type="button">Go</button>
		<div id="auto"></div>  
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var autoNode = $("#auto");     
	var wordInput = $("#bg_go"); 
	var highlightindex = -1;     
	var timeoutId;     
	var wordInputOffset = wordInput.offset();     
	autoNode.hide().css("border", "1px rgba(82, 168 ,236, 0.8) solid").css("position", "absolute")     
					.css("top", wordInputOffset.top + wordInput.height() + 9 + "px").css("color", "#333")     
					.css("left", wordInputOffset.left + "px").css("background", "url(/images/skin.png) repeat 0 0 #f2f2f2")
					.width(wordInput.width() + 14).css("border-radius", "4px");     
	var feed=new Array();
	wordInput.keyup(function(event) {     
		var myEvent = event || window.event;     
		var keyCode = myEvent.keyCode;     
		if (keyCode >= 65 && keyCode <= 90 || keyCode == 8 || keyCode == 48){     
		var wordText = wordInput.val();     
		if (wordText != "") {     
		clearTimeout(timeoutId);     
		timeoutId = setTimeout(function() {     
			var i=0;
			$.ajax({
				type: "get",
				url: "atom.xml",
				dataType: "xml",
				success: function( xmlResponse ) {
					autoNode.html("");     
					var flag=false;
					$(xmlResponse).find('entry').each(function() {
					if(i < 5) {
						if($(this).find('title').text().indexOf(wordText) != -1) {
							var wordNode = $(this).find('title').text();     
							var newDivNode = $("<div></div>");     
							feed[wordNode] = $(this).find('url').text();
							newDivNode.html(wordNode).appendTo(autoNode);     
							newDivNode.mouseover(function() {     
								if (highlightindex != -1) {     
								autoNode.children("div").eq(highlightindex).css("background-color", "#f2f2f2");     
								}     
								highlightindex = i;     
								$(this).css("background-color", "#B0C4DE");});     
							newDivNode.mouseout(function() {     
								$(this).css("background-color", "#f2f2f2");});     
							newDivNode.click(function() {     
								autoNode.hide();     
								highlightindex = -1;     
								$("#bg_go").val(wordNode);});     
							flag=true;
						}
						i++;
					}});
					if(flag){
						autoNode.show();     
					} else {
						autoNode.hide();     
					}

					}
				});
		}, 200);     

		} else {     
			autoNode.hide();     
			highlightindex = -1;     
		}     
	}     
	});     
	$("#btn_go").click(function() {
		if($("#bg_go").val()!="") {
			var wordText = $("#bg_go").val();
			window.location.href=feed[wordText];
		}
	});
});
</script>
